@import './base.css';


.myHeader{
    border-bottom: 1px solid gray;
    padding-bottom: 8px;
}

.myRow{
    border-bottom: 1px solid lightgrey;

}

.row{
    --bs-gutter-x: unset !important;
    --bs-gutter-y: unset !important;
}

.dataTable{
    margin-top: 10px;
}

.apiAndEndpointsSection{

}

.borderWithShadow{
    border: 1px solid #808080a1;
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 10px -4px rgba(88, 91, 111, 1);
    -moz-box-shadow: 1px 1px 10px -4px rgba(88, 91, 111, 1);
    box-shadow: 1px 1px 10px -4px rgba(88, 91, 111, 1);
}


/*#app {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/

/*  font-weight: normal;*/
/*}*/

/*a,*/
/*.green {*/
/*  text-decoration: none;*/
/*  color: hsla(160, 100%, 37%, 1);*/
/*  transition: 0.4s;*/
/*}*/

/*@media (hover: hover) {*/
/*  a:hover {*/
/*    background-color: hsla(160, 100%, 37%, 0.2);*/
/*  }*/
/*}*/

/*@media (min-width: 1024px) {*/
/*  body {*/
/*    display: flex;*/
/*    place-items: center;*/
/*  }*/

/*  #app {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    padding: 0 2rem;*/
/*  }*/
/*}*/
